article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
form,
textarea {
    margin: 0;
}

ul,
ol,
td,
th,
textarea,
option {
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    outline: 0 none;
}

img {
    border: 0 none;
    vertical-align: top;
}

var {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}


/* 垂直居中专用标签 */

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

iframe {
    vertical-align: top;
    vertical-align: middle \9;
}


/*
============================================================================================================================================
* 当前网站基本设置： 包括链接颜色、图片处理。
============================================================================================================================================
*/

html {
    height: 100%;
    font-size: .28rem;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: #2b304b;
    background: #f7f7f7;
}

body {
    position: relative;
    font-size: .28rem;
    width: 100%
}

a {
    color: #333333;
}


/*a:hover{ background:#4584F5 ;color: #fff!important;}*/


/*a:visited{ color:#333333;}*/

select {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    background-size: cover
}

textarea {
    white-space: pre-wrap;
    text-align: justify;
    text-justify: inter-ideograph;
    overflow-y: auto;
    resize: none;
    outline: 0;
    line-height: 16px;
}

input[type=text],
input[type=password] {
    zoom: 1;
    line-height: 16px;
    vertical-align: top;
    outline: 0;
    margin: 0;
    -webkit-appearance: none;
}

img {
    max-width: 100%;
}


/*
============================================================================================================================================
* 库： 定义一些常用的，没有兼容性问题的样式。命名：ku_
============================================================================================================================================
*/


/* 定位 */

.ku_pos_r {
    position: relative;
}

.ku_pos_a {
    position: absolute;
}


/* 浮动 */

.ku_fix {
    zoom: 1;
}

.ku_fix:after {
    display: block;
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.ku_fl_l {
    float: left;
}

.ku_fl_r {
    float: right;
}

.ku_ov_h {
    overflow: hidden;
}

.ku_ov_a {
    overflow: auto;
}

.ku_cell {
    display: table-cell;
    *display: inline-block;
    width: 20000px;
    *width: auto;
}


/* 隐藏 */

.ku_thide {
    position: absolute !important;
    top: -100000px !important;
    overflow: hidden !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
}


/* 垂直居中 */

.ku_va_m {
    vertical-align: middle !important;
    display: inline-block;
    *display: inline;
}


/*箭头*/

.islink:after {
    content: " ";
    display: inline-block;
    height: 0.15rem;
    width: 0.15rem;
    border-width: 0.03rem 0.03rem 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 40%;
    right: 0.35rem;
}


/*返回按钮*/

.returnBtn:after {
    content: "";
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    border: 0.1px solid #2b304b;
    font-weight: 800;
    border-width: 0.06rem 0 0 0.06rem;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    top: 40%;
}

.cancel {
    position: relative;
}

.cancel:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0.11rem;
    width: 0.24rem;
    height: 0.01rem;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cancel:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.11rem;
    width: 0.24rem;
    height: 0.01rem;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*字体大小*/

.f18 {
    font-size: 0.18rem;
}

.f20 {
    font-size: 0.20rem;
}

.f22 {
    font-size: 0.22rem;
}

.f24 {
    font-size: 0.24rem;
}

.f26 {
    font-size: 0.26rem;
}

.f28 {
    font-size: 0.28rem;
}

.f30 {
    font-size: 0.30rem;
}

.f40 {
    font-size: 0.40rem;
}

.f50 {
    font-size: 0.50rem;
}


/*字体颜色*/

.successColor {
    color: #33D54E;
}

.reviewColor {
    color: #EBAF1F;
}

.feateColor {
    color: #EC4040;
}

.v-fd-var {
    background: #FEB407;
    padding: 0.02rem 0.06rem;
    border-radius: 0.05rem;
    color: #FFF;
    margin-bottom: 0.05rem;
}

.v-dl-label {
    background: #4584F5;
    padding: 0.02rem 0.06rem;
    border-radius: 0.05rem;
    color: #FFF;
    margin-left: 0.1rem;
}


/*玩法标题*/

.tit-badge {
    position: absolute;
    display: block;
    background: #FFA632;
    color: #fff;
    width: 50px;
    font-size: 13px;
    text-align: center;
    top: 6px;
    padding: 2px 0;
    border-radius: 0 100px 100px 0;
    /*圆角半径为宽度的值*/
}


/*球*/

.sprite {
    width: 0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('../images/lottery/noselball.png');
    background-size: 100% 100%;
    color: #5d6267;
    font-size: 0.38rem;
}


/*选中球*/

.sprite-sel {
    background-image: url("../../assets/images/lottery/selball.png");
    background-size: 100% 100%;
    color: #fff;
    transform: scale(1.1, 1.1);
    transition: transform .5s;
    opacity: 1;
}


/*快捷选择按钮*/

.btn-checker-item {
    border: 1px solid #ececec;
    padding: 2px 13px;
    border-radius: 3px;
    color: #5d6267;
    height: 0.67rem;
    line-height: 0.67rem;
    width: 0.3rem;
}

.btn-checker-selected {
    background: #52aafc;
    color: #fff;
}


/*顶部header*/

.header {
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 1.082rem;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.header .header-title {
    font-size: 0.34rem;
    text-align: center;
    line-height: 1.08rem;
    color: #2b304b;
}

.header .header-right {
    position: absolute;
    right: 0.35rem;
    top: 40%;
}


/*边框*/

.border-b3 {
    border-bottom: 3px solid #e5e5e5;
}

.border-b1 {
    border-bottom: 1px solid #efefef;
}

.border-r1 {
    border-right: 1px solid #e5e5e5;
}

.header .header-left {
    position: absolute;
    width: 1.082rem;
    height: 1.082rem;
    padding-left: 0.33rem;
}

.header .header-right img,
.header .header-left img {
    width: 0.3rem;
    height: 0.3rem;
}


/*底部tip*/

.divider {
    text-align: center;
    font-size: 0.22rem;
    height: 0.65rem;
    line-height: 0.65rem
}

.divider a {
    color: #4584F5;
}


/*首页*/

.v-index-tab {
    background: #fff;
}

.vux-popup-dialog {}

.tab .vux-tab-bar-inner {
    background-color: #fd658c;
}

.containermain .tab .vux-tab-bar-inner {
    background-color: #349AFB;
}


/*轮播图圆点*/

.btn-content .vux-slider>.vux-indicator>a>.vux-icon-dot {
    width: 3px;
    height: 3px;
    border-radius: 5px;
}

.btn-content .vux-slider>.vux-indicator>a,
.vux-slider .vux-indicator-right>a {
    margin-left: 3px;
}

.btn-content .vux-slider>.vux-indicator>a>.vux-icon-dot.active {
    background-color: #349AFB
}

.btn-content .vux-slider>.vux-indicator,
.vux-slider .vux-indicator-right {
    bottom: -0.1rem;
}

.v-index-tab .vux-tab .vux-tab-item {
    height: 30px;
    line-height: 30px;
    margin: 10px;
    background: #F2F2F2;
    border-radius: 3px;
}

.v-index-tab .vux-tab .vux-tab-selected {
    background: #5E5F68;
}


/*个人中心*/

.container {
    overflow: hidden;
    min-height: 100%;
}

.v-userInfo {
    overflow: hidden;
    background: url("../../assets/images/user/user-bg.png") no-repeat;
    background-position-y: bottom;
    height: 2.5rem;
}

.v-userInfo dt .user-logo {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: #dcdcdc;
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
    overflow: hidden;
}

.v-userInfo dt .user-logo img {
    width: 100%;
}

.v-userInfo dt {
    padding: 0 0 0 2.3125rem;
    position: relative;
    top: 0.27rem;
}

.v-userInfo .v-fd-var {
    background: #FEB407;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    border-radius: 5px;
}

.v-userInfo .mLevel {
    font-size: 12px;
    margin-left: 10px;
}

.v-userInfo .user-nm {
    margin-left: 10px;
}

.bottom-vav {
    position: sticky
}

.bottom-vav>.weui-tabbar {
    position: fixed;
    height: 50px;
}

.bottom-vav .weui-tabbar__item {
    padding-top: 12px;
}

.v-cell-icon {
    display: block;
    margin-right: 20px;
    width: 30px;
}

.userlist .weui-cell__ft {
    padding-right: 30px;
}

.userlist .vux-no-group-title {
    margin: 0px;
}

.v-c-red {
    color: #FF3C3C;
}

.listCom .weui-cell:before {
    left: 60px;
}

.userlist {
    color: #5D6267;
}

.userlist .vux-label {
    font-size: 12px;
}


/*滑动按钮*/

.range>.vux-range-input-box>.range-bar>.range-min,
.range>.vux-range-input-box>.range-bar>.range-max {
    display: none;
}

.range>.vux-range-input-box {
    margin-top: 0.3rem;
}

.range .range-quantity {
    background-color: #52aafc;
}


/*确定按钮*/

.submitBtn {
    height: 0.88rem;
    line-height: 0.88rem;
    width: 90%;
    text-align: center;
    font-size: 0.28rem;
    border-radius: 5px;
    margin: 0.5rem auto;
}

.submitBtn-ativice {
    background: #4584F5;
    color: #fff;
}

.submitBtn-disable {
    background: #ECECEC;
    color: #CACCD4;
}


/*滑动按钮*/

.x-switch .weui-cell__bd {
    display: none;
}

.x-switch .weui-cell {
    padding: 0;
    position: absolute;
    right: 0.33rem;
    top: -0.17rem;
}


/*加减选项*/

.inline-number-l .inline-x-number {
    width: 100%;
    height: 0.6rem;
}

.inline-number-l .number-selector {
    float: left;
    height: 0.6rem;
    width: 0.8rem;
    font-size: 0.6rem;
    line-height: 0.6rem;
    color: #8c8d8d;
    border: 1px solid #ececec;
}

.inline-number-l .number-selector-sub {
    border-right: none;
    padding: 0.04rem 0.08rem 0.02rem 0.08rem;
    border-radius: 2px 0 0 2px;
}

.inline-number-l .number-selector-plus {
    border-left: none;
    margin-right: 0.05rem;
    padding: 0.03rem 0.08rem;
    border-radius: 0 2px 2px 0;
}

.inline-number-l .number-input {
    float: left;
    width: 1.1rem;
    height: 0.6rem;
    font-size: 0.34rem;
    color: #8c8d8d;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ececec;
    padding: 0.03rem 0;
    text-align: center;
    border-radius: 1px;
}

.inline-number-r .btn-checker-item {
    padding: 0 13px;
}

.toast .weui-toast__content {
    font-size: 0.28rem;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

input {
    outline: none;
}

.center-range .range-bar {
    background-color: #52AAFC;
}

button {
    outline: none;
}

body {
    height: 100%;
}